
form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 8px;
}
body{
    font-family: serif;
    background-color: #96A78D;
    padding: 0;
}
fieldset{
    background-color: whitesmoke;
    border-radius: 10px;
}
table{
    width: 100%;
}